
<h3><strong>Ma boheme</strong></h3>

<img src="@Url.Content("~/Content/Images/boheme.jpg")" style="height: 150px" />

<p>

    Faire la dictée à partir du fichier audio : <a href="https://www.audiocite.net/livres-audio-gratuits-poesies/arthur-rimbaud-ma-boheme.html" target="_blank">Cliquer pour écouter</a>

</p>



<p>

    <button onclick="myFunction()">Afficher la correction</button>

    <div id="correction" style="display: none">

        Je m’en allais, les poings dans mes poches crevées ;
        Mon paletot aussi devenait idéal ;
        J’allais sous le ciel, Muse ! et j’étais ton féal ;
        Oh ! là ! là ! que d’amours splendides j’ai rêvées !

        Mon unique culotte avait un large trou.
        – Petit-Poucet rêveur, j’égrenais dans ma course
        Des rimes. Mon auberge était à la Grande-Ourse.
        – Mes étoiles au ciel avaient un doux frou-frou

        Et je les écoutais, assis au bord des routes,
        Ces bons soirs de septembre où je sentais des gouttes
        De rosée à mon front, comme un vin de vigueur ;

        Où, rimant au milieu des ombres fantastiques,
        Comme des lyres, je tirais les élastiques
        De mes souliers blessés, un pied près de mon coeur !

    </div>

    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("correction");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>



</p>

