
<h3><strong>Le corbeau et le renard</strong></h3>

<img src="@Url.Content("~/Content/Images/renardCorbeau.jpg")" style="height: 150px" />

<p>

    Faire la dictée à partir du fichier audio : <a href="https://www.audiocite.net/livres-audio-gratuits-contes/jean-de-la-fontaine-le-corbeau-et-le-renard-(version2).html" target="_blank">Cliquer pour écouter</a>

</p>




<p>

    <button onclick="myFunction()">Afficher la correction</button>

    <div id="correction" style="display: none">
        
        Maître Corbeau, sur un arbre perché,
        Tenait en son bec un fromage.
        Maître Renard, par l'odeur alléché,
        Lui tint à peu près ce langage :
        Et bonjour, Monsieur du Corbeau.
        Que vous êtes joli ! que vous me semblez beau !
        Sans mentir, si votre ramage
        Se rapporte à votre plumage,
        Vous êtes le Phénix des hôtes de ces bois.
        À ces mots, le Corbeau ne se sent pas de joie ;
        Et pour montrer sa belle voix,
        Il ouvre un large bec, laisse tomber sa proie.
        Le Renard s'en saisit, et dit : Mon bon Monsieur,
        Apprenez que tout flatteur
        Vit aux dépens de celui qui l'écoute.
        Cette leçon vaut bien un fromage, sans doute.
        Le Corbeau honteux et confus
        Jura, mais un peu tard, qu'on ne l'y prendrait plus.
        
    </div>

    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("correction");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>



</p>






