
<h3><strong>Le chat</strong></h3>

<img src="@Url.Content("~/Content/Images/Chat.jpg")" style="height: 150px" />

<p>

    Faire la dictée à partir du fichier audio : <a href="https://www.audiocite.net/livres-audio-gratuits-poesies/charles-baudelaire-le-chat.html" target="_blank">Cliquer pour écouter</a>

</p>



<p>

    <button onclick="myFunction()">Afficher la correction</button>

    <div id="correction" style="display: none">

        Viens, mon beau chat, sur mon coeur amoureux ;
        Retiens les griffes de ta patte,
        Et laisse-moi plonger dans tes beaux yeux,
        Mêlés de métal et d’agate.

        Lorsque mes doigts caressent à loisir
        Ta tête et ton dos élastique,
        Et que ma main s’enivre du plaisir
        De palper ton corps électrique,

        Je vois ma femme en esprit. Son regard,
        Comme le tien, aimable bête
        Profond et froid, coupe et fend comme un dard,

        Et, des pieds jusques à la tête,
        Un air subtil, un dangereux parfum
        Nagent autour de son corps brun.

    </div>

    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("correction");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>



</p>






