
@{
    ViewBag.Title = "ResultConjugaison";
}

<h2>ResultConjugaison</h2>

@{

        Response.Write("<p> Question 1: " + Request.Form["question1"]);
        if (Request.Form["question1"] == "1")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }



        Response.Write("<p> Question 2: " + Request.Form["question2"]);
        if (Request.Form["question2"] == "2")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }

        Response.Write("<p> Question 3: " + Request.Form["question3"]);
        if (Request.Form["question3"] == "3")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }

        Response.Write("<p> Question 4: " + Request.Form["question4"]);
        if (Request.Form["question4"] == "1")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }


          Response.Write("<p> Question 5: " + Request.Form["question5"]);
        if (Request.Form["question5"] == "1")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }


        Response.Write("<p> Question 6: " + Request.Form["question6"]);
        if (Request.Form["question6"] == "3")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }


         Response.Write("<p> Question 7: " + Request.Form["question7"]);
        if (Request.Form["question7"] == "1")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }

        Response.Write("<p> Question 8: " + Request.Form["question8"]);
        if (Request.Form["question8"] == "3")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }

        Response.Write("<p> Question 9: " + Request.Form["question9"]);
        if (Request.Form["question9"] == "2")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }

        Response.Write("<p> Question 10: " + Request.Form["question10"]);
        if (Request.Form["question10"] == "3")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }

         Response.Write("<p> Question 11: " + Request.Form["question11"]);
        if (Request.Form["question11"] == "1")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }

        Response.Write("<p> Question 12: " + Request.Form["question12"]);
        if (Request.Form["question12"] == "2")
        {
            Response.Write("(Correct!) </p>");
        }
        else
        {
            Response.Write("(Incorrect)</p>");
        }
}









